# Ignore all csv files in data folder and subfolders
data/**/*.csv

# But keep Sample project data for Git tracking
!data/projects/Sample/*.csv

# Python Virtual Environment
venv/
env/
__pycache__/
*.pyc

# PyInstaller build files
build/
dist/
*.spec